:root {
    --bg-color: #dcdcdc;
    --text-color: #23242D;
    --primary-color: #FF3737;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
}

.navbar__header {
    background-color: #fff;
    height: 120px;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

.logo-img {
    max-height: 60px;
}

.navbar__items {
    line-height: 1rem;
    /* padding-bottom: 20px; */
}


.navbar__items-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar-list__item {
    margin: 0 15px;
    list-style: none;
    position: relative;
    text-decoration: none;
    font-weight: 700;
}

.navbar-list__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1rem;;

}
    

.navbar-list__item::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}
 
.navbar-list__item:hover::before {
    width: 100%;
}

.navbar-list__item:hover .navbar-list__item-link {
    color: var(--primary-color);
}


.navbar__search-login {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar__search {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

.navbar__search__input {
    font-size: 1.2rem;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 20px;
    color: rgb(136, 136, 136);
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}


.navbar__search__label {
    color: var(--text-color);
    font-size: 1.4rem;
    background-color: #fff;
    height: 52px;
    width: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
}

.navbar__search__label-link {
    text-decoration: none;
}

.navbar__search__label-link i {
    color: var(--text-color);
}

.navbar__login-cart {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #333;
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.login {
    margin-left: 20px;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
}


.cart {
    position: relative;
    color: var(--text-color);
}
.cart-link {
    color: var(--text-color);
    text-decoration: none;
}

.cart__count {
    position: absolute;
    color: #fff;
    font-size: 0.8rem;
    line-height: 0.9rem;
    padding: 2px 1px 1px 1px;
    text-align: center;
    top: 0;
    right: -6px;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-sizing: content-box;
    border: 2px solid #fff;
}

.cart-link i, .login i {
    padding: 5px;
    cursor: pointer;
}


.cart-link i:hover, .login i:hover {
    background-color: #cdcdcd;
    border-radius: 50%;
    cursor: pointer;
}

.navbar__menu {
    font-size: 1.4rem;
    margin-left: 10px;
    display: none;
}


/* responsive */
@media screen and (max-width: 1200px) {
    .navbar-items {
        font-size: 0.8rem;
    }
    .navbar__search__input{
        width: 100px;
    }
}

@media screen and (max-width: 992px) {
    .navbar__search-login {
        width: 100%;
    }
    .navbar__search{
        width: 100%;
    }
    
    .navbar__search__input {
        width: 100%;
    }

    .navbar__items{
        position: absolute;
        display: none;
        right: 0;
        top: 100%;
        background-color: #fff;
        transition: 0.4s;
    }

    .navbar__items.navbar__items--active {
        display: block;
    }

    .navbar__items-list {
        flex-direction: column;
        height: fit-content;
        width: 40vh;
        justify-content: start;
    }

    .navbar-list__item {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        transition: 0.4s;
        
    }
    .navbar-list__item:hover {
        background-color: #cdcdcd;
    }
    .navbar__menu {
        display: block;
        padding: 4px 7px;
        border-radius: 50%;
    }
    
    .navbar__menu:hover {
        cursor: pointer;
        background-color:#cdcdcd;
    }
    
}

