body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.back {
    padding-top: 70px;
    padding-left: 10%;
}
.back a {
    text-decoration: none;
}
.back a:hover {
    text-decoration: underline;
}

.product-detail {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;

}

.product-image {
    display: flex;
    flex-direction: column;
}

.product-image {
    max-width: 40%;
    height: 100vh;
}

.product-category {
    display: flex;
    align-items: end;
    max-width: 150px;
}

.product-category__item {
    margin-top: 10px;
    margin-right: 10px;
    max-width: 100px;
}

.product-info {
    margin-left: 20px;
    text-align: left;
    margin-top: 20px;
    max-width: 40%;
}

.product-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.product-description {
    font-size: 1rem;
    margin-top: 10px;
    color: #666;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    color: #ff3333;
}

.add-to-cart {
    background-color: #ff3636;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.add-to-cart:hover {
    background-color: #b30000;
}
